@import '../../../scss/style';

.main-nav {
  position: absolute;
  top: 79px;
  right: 313px;
  &__list {
    display: inline-block;
    list-style: none;

  }
  &__item {
    display: inline-block;
    padding-left: 58px;
    text-transform: uppercase;
  }
  &__link {
    font-size: 14px;
    text-decoration: none;
    color: $baseWhiteColor;
  }
}